{% extends 'base.html' %}
{% block page_header %}Гостевая книга{% endblock page_header %}
{% block content %}
    {% if not books %}
        <h2>No Guest book</h2>
    {% endif %}

    <div class="card">
        {% for book in books %}
          <div class="card-header">
            {{ book.author}} ({{ book.email }})
                <a href="{% url "add-book" %}"><i class="fas fa-id-badge"></i></a>
                <a href="{% url "update-book" %}"><i class="far fa-edit"></i></a>
                <a href="{% url "delete-book" %}"><i class="fas fa-trash-alt"></i></a>
          </div>
          <div class="card-body">
            <p class="card-text">{{ book.text }}</p>
                </br>
          </div>
        {% endfor %}
    </br>
    </div>
    </br>

{% endblock content %}